/*!
 * Fortune.js website
 */

// colors
@background-color:     #FFFFFF;
@menu-color:           #E9E9E9;
@body-color:           #000000;
@light-color:          #575757;
@primary-color:        #3A9FA1;
@secondary-color:      #995398;
@tertiary-color:       #D57762;
@quaternary-color:     #E9B6AC;
@border-color:         darken(@menu-color, 12%);
@subtle-color:         lighten(@menu-color, 5%);

// type
@body-size:            15px;
@body-type:            'Inconsolata', 'Courier New', Courier, monospace;
@alt-type:             Helvetica, Arial, sans-serif;

// layout
@menu-width:           15em;
@gutter-width:         1em * 3 / 2;
@line-height:          1em * 3 / 2;
@desktop-width:        76em;
@tablet-width:         59em;

// reset
* {
  .box-sizing;
  margin: 0;
  padding: 0;
  border: 0;
}

// import
@import "mixins.less";
@import "type.less";
@import "layout.less";
@import "mobile.less";
